.map {
	background-color: lightblue;
	fill: white;
	-webkit-transform-origin-x: 0px;
	-webkit-transform-origin-y: 0px;
	-webkit-transform-origin-z: initial;
	transform-origin: 0 0;
	transform: scale(0.5);
	border: solid;
}

.map {
	pattern > .stripes {
		stroke-width: 8px;
		stroke: darkgray;
	}
	pattern > .fill {
		fill: bisque;
	}

	.empty-country {
		fill: bisque;
	}

	.countries {
		filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
	}

	.territory {
		stroke-width: 1px;
		stroke: black;
		fill-rule: evenodd;
	}

	.supply-center {
		opacity: 0.5;
	}

	.accessible-territory:hover,  {
		fill: white;
	}

	.sea-territory {
		fill: lightblue;
		stroke: rgba(0, 0, 0, 0.25);
	}
}
