@mixin block-link {
	display: flex;
	align-items: center;

	min-height: 48px;
	padding: 0.25em 0.5em;

	& + & {
		border-top: solid 1px $app-color;
	}

	text-decoration: none;

	&::after {
		content: '\f078';
		font-family: octicons;
		font-size: 1.5em;

		text-shadow: none;
		background-color: rgba(black, 0.15);

		padding: 0 0.3em 0 0.4em;
		border-radius: 2em;

		margin-left: 0.5em;
	}
}

.block-link {
	@include block-link;
}
