.game-settings {
	padding: 0.25em 0.5em;

	label {
		display: flex;
		margin-top: 0.25em;
		align-items: center;

		span {
			flex: 1;
		}
		input {
			flex: 1;
		}
	}

	div + div {
		margin-top: 0.25em;
	}
}
