.game-list {
	ul {
		@include list-block;
		border: solid 1px;
	}

	li {
		position: relative;
	}

	li + li {
		margin-top: 0;
		border-top: solid 1px;
	}

	li:hover .game-background {
		opacity: 0.05;
	}

	.game-background {
		width: 100%;
		height: 100%;
		position: absolute;
		transition: opacity 0.05s;
		opacity: 0.15;
	}

	.game-info {
		@include block-link($color: gray);
		margin-top: 0;
		position: relative;
		text-shadow: 0 0 15px #efefef;
		color: $app-color;
		font-weight: 500;
		font-feature-settings: 'smcp';
	}

	.game-title {
		flex: 1;
	}
}
