.game-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
}

.game-title {
	font-weight: 500;
	font-size: 1.5em;
	flex: 1;
	margin: 0;
	display: inline-block;
}

.player-country {
	display: inline-block;
	margin: 0;
	padding: 0.35em 0.5em 0.15em;
	background-color: $app-color;
	color: white;
	border-radius: 0.5em;
}
