@mixin table-view {
	border: solid 1px $appColor;
	list-style: none;
	margin: 0;
	padding: 0;
}

.game-list {
	& > ul {
		@include table-view;
	}

	a {
		min-height: 48px;
		display: flex;
		align-items: center;
		padding: 0.25em 0.5em;

		text-decoration: none;
	}

	li {
		position: relative;
	}

	.game-background {
		width: 100%;
		height: 100%;
		position: absolute;
		background-position: 50% 50%;
		background-image: url(http://www.diplom.org/Online/maps/map_c.gif);
		filter: grayscale(50%) opacity(15%) blur(1px);
	}

	.game-info {
		position: relative;
		text-shadow: 0 0 1px white;
	}

	li + li {
		border-top: solid 1px;
	}

	.game-title {
		flex: 1;
		font-weight: bold;
	}

	.octicon {
		font-size: 2em;
		margin-left: 0.25em;
	}
}
