#header {
	text-align: center;

	padding-bottom: 1em;
	margin-bottom: 0.75em;
	border-bottom: solid 1px currentColor;

	a[href^='#'] {
		text-decoration: none;
		color: inherit;
	}

	h1 {
		margin-top: 0.25em;
		margin-bottom: 0.25em;

		font-size: 1.75em;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		-webkit-font-feature-settings: 'smcp';
	}

	ul {
		@include list-inline();

		li + li {
			margin-left: 1em;
		}

		a {

			border: solid 1px;
			border-color: #BBB #999 #777;
			padding: 0.25em 0.5em;
		}

		.active {
			background-color: rebeccapurple;
			color: white;
		}
	}
}
