.map-creation-form {
	label {
		display: block;
		margin-top: 0.25em;
	}

	input:not([type='submit']) {
		border: 0;
		border-bottom: solid 1px;
	}

	input[type='submit'] {
		margin-top: 0.5em;
	}
}

.raw-map-list {
	.one-map {
		margin-bottom: 1em;
	}
	span:first-child {
		font-weight: bold;
	}
}
