#game-nav {
	@include list-inline;
	margin-top: 1.5em;

	text-align: center;

	padding: 0;

	color: $app-color;
	border: solid 2px $app-color;
	background-color: white;
	border-radius: 3px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	li {
		flex: 1;
		margin: 0;
	}

	a {
		text-decoration: none;
		color: inherit;

		display: block;
		padding: 0.5em 0.5em;
		transition: background-color 0.25s;

		&:hover {
			background-color: darken(white, 10%);
		}
	}

	.octicon {
		width: 16px;
	}

	.active {
		background-color: $app-color;
		color: white;
		&:hover {
			background-color: $app-color;
		}
	}
}
