*, *::before, *::after {
	box-sizing: inherit;
}

.app {
	box-sizing: border-box;

	color: rebeccapurple;

	font-family: sans-serif;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	max-width: 40em;
	margin: 0 auto;
}

main {
	padding-left: $app-edge-padding;
	padding-right: $app-edge-padding;
}

a {
	color: rebeccapurple;
}
