*, *::before, *::after {
	box-sizing: inherit;
}

* + * {
	margin-top: 1.5em;
}

.app {
	box-sizing: border-box;

	color: $app-color;
	font-family: Fira Sans, sans-serif;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	max-width: $app-width;
	margin: 0 auto;
}

a {
	color: inherit;
}

strong {
	font-weight: 500;
}

input[type="search"] {
	box-sizing: border-box;
}

input[type="range"] {
	width: 100%;
}
