*, *::before, *::after {
	box-sizing: inherit;
}

.app {
	box-sizing: border-box;

	color: rebeccapurple;

	font-family: sans-serif;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	max-width: 40em;
	margin: 0 auto;

	margin-bottom: 10vh;
}

a {
	color: rebeccapurple;
}
