@import "normalize";
@import "base";
@import "mixins";
@import "variables";

@import "icons/octicons.css";

@import "components/block-link";
@import "components/game-list";
@import "components/header";
@import "components/main";
@import "components/map-creation-form";
@import "components/search-box";
@import "components/toolbar";
@import "components/view-title";

@import "views/auth";

.map {
	fill: blue;
	-webkit-transform-origin-x: 0px;
	-webkit-transform-origin-y: 0px;
	-webkit-transform-origin-z: initial;
	transform: scale(0.5);
}
